// Schema set colors
$background: white;
$background-alt: #fafafa;
$background-paper: white;

$primary: #00652e;
$primary-light: #409458;
$primary-dark: #003905;
$primary-ultraLight: #409458;

// Schema set font style
$font-family: 'Montserrat', sans-serif;
$fz-default: 14px;
$fzH1: 6rem;
$fzH2: 3.75rem;
$fzH3: 3rem;
$fzH4: 2.15rem;
$fzH5: 1.5rem;
$fzH6: 1.25rem;
$fzBody1: 1rem;
$fzBody2: 0.875rem;
$fzCaption: 0.75rem;