section#howItWorks
    div.container
        img(src=require("../assets/cleaner-pic.png")).responsive-img
        div.info
            h2.h3.fw-800
                span.primary How 
                span.secondary It Works
            p.body2 Our company offers a wide range of cleaning and maintenance services for businesses. We have a highly trained and dedicated team committed to providing high-quality services and excellent customer service. We use top-quality products and techniques to ensure customer satisfaction and the best performance of our services. Our services are exclusively tailored to businesses, and we offer customized cleaning programs to meet the needs and budgets of our clients. If you are interested in our services, please don't hesitate to contact us to schedule your cleaning and maintenance. We will be happy to help you maintain a clean and orderly space for your business.