section#home.sec-container
    div.container
        div.home-box1
            div.w-12.text-right: img(src=require('../assets/icon-spark.svg')).icon-spark.anim-rotate
            h1.w-12.my-0.mb-25px
                span.d-block.fw-800.secondary You are in
                span.d-block.fw-800.primary good hands
            div.w-12.d-flex.justify-between.align-center
                img(src=require('../assets/icon-sparks.svg')).col.s3
                p.m-0.ml-10px.h6 Complete solutions for all of your commercial cleaning service needs.
            div.mt-20px
                a(href="#services").btn-large.btn-primary.waves-effect Our best offers
        
        div.home-box2
            img(src=require('../assets/bubble-ball.svg')).img-bubble
            img(src=require('../assets/hands.png')).responsive-img.img-hands

        div.w-12.d-flex.justify-end.separator
            hr
            div.contact-box.text-center
                span.d-block.body2.primary Call or text us for any question:
                span.d-block.h4.fw-800
                    span.primary 602-
                    span.secondary 877-2343