doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(href=require("styles/index.scss") rel="stylesheet")
        script(src=require("index.js") defer="defer")
    body 
        main.main-container
            nav#nav-site
                a(hrer="#").logo
                    img(src=require('./assets/logo-inline.svg')).responsive-img
                div.link-list
                    a(href="#home")
                    a(href="#services")
                    a(href="#partners")
                    a(href="#contact")
            
            section.sec-container
                div.container