doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title JAUS Property Services
        link(href=require("styles/main.scss") rel="stylesheet")
        script(src=require("index.js") defer="defer")
    body 
        main.main-container
            nav#nav-site
                a(hrer="#").logo
                    img(src=require('./assets/logo-inline.svg')).responsive-img
                div.link-list
                    a(href="#home").waves-effect.waves-primary Home
                    a(href="#services").waves-effect.waves-primary Services
                    a(href="#partners").waves-effect.waves-primary Partners
                    a(href="#contact").waves-effect.waves-primary Contact
            
            include ./pug/index-home.part.pug
            include ./pug/index-services.part.pug
            include ./pug/index-howItWorks.part.pug
            include ./pug/index-sponsors.part.pug
            include ./pug/index-contact.part.pug